.main-container{
  height: auto;
  width: 100%;
 display: flex;
}
.left-section{
  flex: 0.80;
  background-color: #F5F2ED;
  padding: 20px;
}
.right-section{
  flex: 1;
  background-color: #d2c2a9a7;
}